// buttons

// $main-colors: (
//   orange: $orange,
//   blue: $blue,
//   pink: $pink,
//   green: $green,
//   grey: $grey,
//   tan: $tan,
//   black: $black
// );

.#{$framework-class-prefix}-button,
button {
  @extend %typeBody;
  font-size: 20px;
  font-weight: $bold;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  transition: color $transition, border-color $transition, background $transition;
  //
  background: none;
  border: 3px solid $black;

  &:hover {
    cursor: pointer;
    background: $black;
  }

  &.#{$framework-class-prefix}-secondary {
    background: $black;
  }

  &.#{$framework-class-prefix}-tertiary {
    background: none;
    border-color: transparent;

    &:hover {
      border-color: $black;
    }
  }
}