// buttons

// $main-colors: (
//   orange: $orange,
//   blue: $blue,
//   pink: $pink,
//   green: $green,
//   grey: $grey,
//   tan: $tan,
//   black: $black
// );

.#{$framework-class-prefix}-button,
button {
  @extend %typeBody;
  font-size: 20px;
  font-weight: $bold;
  padding: 0.5rem 1rem;
  transition: all $transition;
  //
  background: none;
  border: 3px solid $black;

  &:hover {
    cursor: pointer;
    background: $black;
  }

  &.#{$framework-class-prefix}-secondary {
    background: $black;
  }

  &.#{$framework-class-prefix}-tertiary {
    background: none;
    border-color: transparent;

    &:hover {
      border-color: $black;
    }
  }
}

@each $color in map-keys($main-colors) {

  .#{$framework-class-prefix}-bg-#{$color} {
    background-color: map-get($main-colors, $color);

    .#{$framework-class-prefix}-button,
    button {

      &:hover {
        color: map-get($main-colors, $color);
      }

      &.#{$framework-class-prefix}-secondary {
        color: map-get($main-colors, $color);

        &:hover {
          background-color: map-get($main-colors, $color);
          color: $black;
        }
      }

      &.#{$framework-class-prefix}-tertiary {

        &:hover {
          color: $black;
        }
      }
    }
  }

}