// code
.#{$framework-class-prefix}-checkbox-container{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.#{$framework-class-prefix}-checkbox,
input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: $white;
  border: 2px solid $black;
  display: inline-flex;
  margin-bottom: 1rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 3px;
    width: 2px;
    height: 4px;
    background: $white;
    transform: rotate(-25deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 6px;
    width: 2px;
    height: 10px;
    background: $white;
    transform: rotate(25deg);
  }


  &:checked {
    background: $black;
  }

  & + label {
    @extend %globalTypeStyle;
    display: inline-flex;
    margin-left: 0.25rem;
    width: calc(100% - 1.25rem);
    margin-bottom: 1rem;
  }
}
