// code
.#{$framework-class-prefix}-code-block,
code {
  display: block;
  background-color: $black;
  margin-bottom: 1rem;

  pre {
    font-family: $font-stack-mono;
    font-weight: $regular;
    background-color: $black;
    margin: 0;
    padding: 1rem 2rem;
  }
}

.#{$framework-class-prefix}-code-inline {
  font-family: $font-stack-mono;
  padding: 0 0.25rem;
  border: 1px solid $black;
  font-size: 14px;
}