// code
.#{$framework-class-prefix}-code-block,
code {
  display: block;
  background-color: $black;
  padding: 1rem;
  margin-bottom: 1rem;

  pre {
    font-family: $font-stack-mono;
    background-color: $black;
    margin: 0;
  }
}

