// color
$orange: #f36c42;
$blue: #92b8c3;
$pink: #e2b39f;
$green: #8ba354;
$grey: #5c6f74;
$tan: #d6af7a;
$black: #100a00;
$white: #e7eade;

// vars
:root {
  --#{$framework-class-prefix}-orange: $orange;
  --#{$framework-class-prefix}-blue: $blue;
  --#{$framework-class-prefix}-pink: $pink;
  --#{$framework-class-prefix}-green: $green;
  --#{$framework-class-prefix}-grey: $grey;
  --#{$framework-class-prefix}-tan: $tan;
  --#{$framework-class-prefix}-black: $black;
  --#{$framework-class-prefix}-white: $white;
}

$main-colors: (
  orange: $orange,
  blue: $blue,
  pink: $pink,
  green: $green,
  grey: $grey,
  tan: $tan,
  black: $black,
  white: $white
);

@each $color in map-keys($main-colors) {
  .#{$framework-class-prefix}-text-#{$color} {
    color: map-get($main-colors, $color);
  }

  .#{$framework-class-prefix}-bg-#{$color} {
    background-color: map-get($main-colors, $color);

    a,
    a:visited {

      &:hover:not(.ae-button) {
        color: map-get($main-colors, $color);
      }
    }

    .#{$framework-class-prefix}-button,
    button {
      color: map-get($main-colors, $color);

      &:hover {
        color: $black;
        background-color: map-get($main-colors, $color);
      }

      &.#{$framework-class-prefix}-secondary {
        color: $black;

        &:hover {
          color: $black;
        }
      }
    }

    code {

      pre {
        color: map-get($main-colors, $color);
        border-color: map-get($main-colors, $color);
      }
    }

    table {

      thead {

        th {
          color: map-get($main-colors, $color);
        }
      }
    }

    .#{$framework-class-prefix}-cite,
    cite {
      color: map-get($main-colors, $color);
    }

    .#{$framework-class-prefix}-invert {
      color: map-get($main-colors, $color);
      background-color: $black;
      padding: 0.5rem 0.5rem 0.25rem;

      a {

        &::before {
          background-color: map-get($main-colors, $color);
        }

        &:hover:not(.ae-button) {
          color: $black;
        }
      }

      .#{$framework-class-prefix}-code-inline {
        border-color: map-get($main-colors, $color);
      }
    }
  }
}