$black: #100a00;

// framework prefix
$framework-class-prefix: 'ae';

// transition param
$transition: 0.15s;

// box-sizing
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &:focus {
    @extend %focusStyle;
  }
}

// focus
%focusStyle {
  outline: 1px dashed $black;
  outline-offset: 2px;
}