// layout

// spacing
@for $interval from 0 to 11 {
  .ae-mar-#{$interval} {
    margin: $interval * 1rem !important;
  }

  .ae-mar-t-#{$interval} {
    margin-top: $interval * 1rem !important;
  }

  .ae-mar-r-#{$interval} {
    margin-right: $interval * 1rem !important;
  }

  .ae-mar-b-#{$interval} {
    margin-bottom: $interval * 1rem !important;
  }

  .ae-mar-l-#{$interval} {
    margin-left: $interval * 1rem !important;
  }

  .ae-mar-t-b-#{$interval} {
    margin-top: $interval * 1rem !important;
    margin-bottom: $interval * 1rem !important;
  }

  .ae-mar-l-r-#{$interval} {
    margin-left: $interval * 1rem !important;
    margin-right: $interval * 1rem !important;
  }

  .ae-pad-#{$interval} {
    padding: $interval * 1rem !important;
  }

  .ae-pad-t-#{$interval} {
    padding-top: $interval * 1rem !important;
  }

  .ae-pad-r-#{$interval} {
    padding-right: $interval * 1rem !important;
  }

  .ae-pad-b-#{$interval} {
    padding-bottom: $interval * 1rem !important;
  }

  .ae-pad-l-#{$interval} {
    padding-left: $interval * 1rem !important;
  }

  .ae-pad-t-b-#{$interval} {
    padding-top: $interval * 1rem !important;
    padding-bottom: $interval * 1rem !important;
  }

  .ae-pad-l-r-#{$interval} {
    padding-left: $interval * 1rem !important;
    padding-right: $interval * 1rem !important;
  }
}

.ae-mar-l-auto {
  margin-left: auto !important;
}

.ae-mar-r-auto {
  margin-right: auto !important;
}

.ae-mar-l-r-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}


// display classes

$display-types: (
  block: block,
  none: none,
  inline: inline,
  inline-block: inline-block,
  flex: flex,
  inline-flex: inline-flex,
  initial: initial,
);

@each $display in map-keys($display-types) {
  .ae-display-#{$display} {
    display: map-get($display-types, $display);
  }
}


// hr

.ae-hr,
hr {
  display: block;
  margin: 2rem 0;
  appearance: none;
  border: none;
  width: 100%;
  height: 3px;
  background: $black;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    background: $black;
  }
}