// radio
.ae-radio-container{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.ae-radio,
input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: $black;
  border: 2px solid $black;
  border-radius: 50%;
  display: inline-flex;
  margin-bottom: 1rem;
  position: relative;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $black;
    transition: background 0.15s;
  }

  &:checked {

    &::before {
      background: $white;
    }
  }

  & + label {
    @extend %globalTypeStyle;
    display: inline-flex;
    margin-left: 0.25rem;
    width: calc(100% - 1.25rem);
    margin-bottom: 1rem;
  }
}
