
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

$font-stack: 'DM Sans', Avenir, Helvetica, Arial, sans-serif;
$font-stack-mono: 'DM Mono', monospace;

$regular: 400;
$medium: 600;
$bold: 800;

%globalTypeStyle {
  font-family: $font-stack;
  font-style: normal;
  font-weight: $bold;
  color: $black;
  margin: 0; // reset
  line-height: 1.2;
}

%typeHeading1 {
  font-size: 64px;
  letter-spacing: -2.5px;
  margin: 0 0 1rem;
}

%typeHeading2 {
  font-size: 48px;
  margin: 0 0 1rem;
}

%typeHeading3 {
  font-size: 32px;
  margin: 0 0 1rem;
}

%typeHeading4 {
  font-size: 24px;
  margin: 0 0 1rem;
}

%typeHeading5 {
  font-size: 18px;
  margin: 0 0 1rem;
}

%typeHeading6 {
  font-size: 14px;
  margin: 0 0 1rem;
}

%typeBody {
  font-size: 16px;
  font-weight: $regular;
  letter-spacing: -0.5px;
  margin:0 0 1rem;
}


body {
  @extend %globalTypeStyle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  @extend %globalTypeStyle;
  @extend %typeBody;
}

@for $i from 1 through 6 {

  .#{$framework-class-prefix}-heading-#{$i},
  h#{$i} {
    @extend %globalTypeStyle;
    @extend %typeHeading#{$i};
  }
}


a,
a:visited {
  color: inherit;
  font-weight: $medium;
  position: relative;
  z-index: 1;
  transition: all $transition, color 0.2s;

  &.#{$framework-class-prefix}-link-unstyled,
  &.#{$framework-class-prefix}-button {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2%;
    left: -2%;
    width: 0;
    height: 102%;
    background-color: $black;
    z-index: -1;
    pointer-events: none;
    transition: all $transition;
  }

  &:hover:not(.ae-button) {

    &::before {
      width: 104%;
    }
  }

}

.#{$framework-class-prefix}-bg-black {

  a,
  a:visited {
    color: $white;

    &::before {
      background: $white;
    }

    &:hover {
      color: $black;
    }
  }
}

.#{$framework-class-prefix}-bg-white {

  a,
  a:visited {
    color: $black;

    &::before {
      background: $black;
    }

    &:hover {
      color: $white;
    }
  }
}